@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
html {font-size: 16px;font-family: 'Noto Sans KR', sans-serif; color:#333; box-sizing: border-box; word-break: keep-all; background: black}
::selection {color:#eee; background:#333;}

body,a,h1,p,ul,h1,figure,figcaption{margin: 0; padding: 0}
a{display: block;text-decoration:none; color: inherit;}
ul {list-style-type:none;}
header{height: 46px; position: fixed; top: 0;left: 0; width: 100%;z-index: 9999;}
header .backdrop{height: 46px; background: black; opacity: 1;
				position: absolute; width: 100vw;
				backdrop-filter: blur(10px)}


/*데스크탑 전체폭설정*/
main,nav,section,article,footer{width: 1000px; margin: auto; position: relative;}

/*메뉴*/
nav{}
nav	.logo{font-size: 1rem;font-weight: bold;line-height: 44px; color: white;}
nav	.gnav{width: 1000px; z-index: 9999; height: 50px; background: black; display: flex; justify-content: space-between; align-items: center; position: fixed; top: 0; line-height: 50px;}
nav 	.gnav div{display: flex;}
nav	.gnav div a{color: white; text-decoration: none; text-align: center; padding: 0 10px;}
nav	.gnav div a:hover{background: linear-gradient(#06afe7, 85%, black); color: black;}
nav	.mnav{width:100vw; z-index: 9999; height 50px; background: black; position: fixed; top: 0; left:0; line-height: 50px; display: none; line-height:30px;padding-left:0;}
nav	.mnav #myLinks{display: none;}
nav	.mnav a{color: white; text-decoration: none; display: block; padding: 10px 10px;}
.icon{display: block; position: absolute; right:10px; top:1.5px; line-height:2.5;}


/* 개별작품페이지용*/
article{ margin-top:100px; position: relative; color: white;}
.work-text{ display: flex; gap: 5%; margin-top: 50px; margin-bottom: 140px; padding: 0;}
.work-text .title{ width: 30%; font-size: 30pt; line-height: 34pt; font-weight: 500; margin: 0;}
.work-text .text{ width: 60%; font-size: 12pt; line-height: 1.7; font-weight: 400; word-break: keep-all; margin: 0;}
article img{ width: 100%; margin: 0; padding: 0; line-height: 0; display:block;}
article .memberlink{display: flex; gap: 5vh 5%;flex-wrap: wrap;}
article .memberlink li{width: 21.25%}
article p::selection{color: #06afe7;}
.video-container{position: relative; padding-bottom:56.25%; height:0; overflow: hidden;}
.video-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}


/* Footer */
footer{ margin-top: 300px; font-size: 8pt; text-decoration: none; color: #BDBDBD; margin-bottom: 50px; display: flex;}
footer .color{ color: #06afe7;}
footer div{margin-right: 40px;}
footer p::selection{color: #06afe7;}

/* 모바일용 미디어쿼리 */
@media only screen and (max-width: 767px){
	html{letter-spacing: -0.3px;}
	main,nav,section,article {width: 95%;}

	nav .gnav{display: none;}
	nav .mnav{display: block;}

	header{height:30vh;}
	main .thumb{width: 100%}

	article .work-text{display: block; width: 95vw;}
	article .work-text .title{width: 95vw;}
	article .work-text .content{width: inherit;margin-top: 2rem;}
	article .memberlink li{width: 47.5%}
	.work-text .text{margin-top: 20px; width: 95vw;}

	footer{width:95vw; display: block; margin:100px 0px 50px 10px; }
	footer div{margin: 20px 0px 0px 10px;}

}


